{% extends "AppCoder/padre.html" %}

{% load static %}

{% block contenidoQueCambia %}

    <h4>Ingresar los datos para crear un entregable en el sistema:</h4>
    
    {% if miFormulario.errors %}

    <p style="color: red;">Error en los datos ingresador, revisar y completar nuevamente</p>

    {% endif %}

    <form action="" method="POST">{% csrf_token %}
        <table>
            {{ miFormulario.as_table }}
        </table>
        <input type="submit", value="Enviar">
    </form>

{% endblock %}